
.box-step{ 
    position: absolute;
    left: 12px;
    top: 50px;    
    z-index: 2;
}
.item-step{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: 20px;
}
.line-step{
    width: 4px;
    height: 48px;
    background-color: #8512ff;
    position: absolute;
    left: 50px;
    top: 70px;
    z-index: 1;
}