
.box-form{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-resume{
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.step-number{
    position: absolute;
    right: 25px;
    top: 15px;
}

@media (min-width: 1024px) {
    .btn-resume {
      display: none; } 
}